@media only screen and (max-width: 1000px){
    nav{
        flex-direction: column;
        height: 19vh;
    }
    .logo{
        margin: 12px 0;
    }
    nav ul{
        height: 4vh;
        margin-bottom: 10px;
        position: relative;
        bottom: 1vh;
    }
    .search{
        margin-bottom: 10px;
        position: relative;
        bottom: 1vh;
    }
    .slider-image{
        height: 25vh;
        width: 75vw;
    }
    .card-item img{
        height:15vh;
        width: 30vw;
    }
    .cards{
        overflow:scroll;
    }
    footer{
        height: 8vh;
    }
}