.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button{
    border: none;
    position: relative;
    right: 28px;
    top: 2px;
    cursor:pointer;
}
.margin-images{
    margin: 20px 15vw;
    display: inline-block;
}